@namespace Tournament.Web
@using Tournament.Web.Resources.Texts
@using Microsoft.Extensions.Localization
@inherits Tournament.Web.Pages.PageBase
@inject IStringLocalizer<PlaceEditPageResources> PlaceEditFormLocalizer

<EditForm Model="@Data">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label class="w-100">
            @PlaceEditFormLocalizer["Label_Name"]
            <InputText @bind-Value="@Data.Name" class="form-control"/>
            <small class="form-text text-danger">
                <ValidationMessage For="@(() => Data.Name)"/>
            </small>
        </label>
    </div>

    <div class="form-group">
        <label class="w-100">
            @PlaceEditFormLocalizer["Label_Description"]
            <InputTextArea @bind-Value="@Data.Description" class="form-control"/>
            <small class="form-text text-danger">
                <ValidationMessage For="@(() => Data.Description)"/>
            </small>
        </label>
    </div>

    @if (Id != Guid.Empty)
    {
        <button type="submit" class="btn btn-success" @onclick="@Update">
            <span class="oi oi-pencil"></span>
            @PlaceEditFormLocalizer["Edit_Button"]
        </button>

        <button @onclick="@Delete" class="btn btn-danger ml-1">
            <span class="oi oi-trash"></span>
            @PlaceEditFormLocalizer["Delete_Button"]
        </button>
    }
    else
    {
        <button type="submit" class="btn btn-success" @onclick="@Create">
            <span class="oi oi-plus"></span>
            @PlaceEditFormLocalizer["Create_Button"]
        </button>
    }
</EditForm>